body {
    overflow: hidden;
    margin: 0;
    background-color: #c68326;
    margin: 0;
    padding: 0;
}

.container{
    padding: 10px;
}

.content{
    padding-top: 10px;
}

.ui {
    position: absolute;
}

button{
    margin: 20px;
}
